gen.custom.intranet =  Customize Intranet Display
gen.custom.utilitats =  Customize Utils Display
gen.custom.actes =  Customize Official Records Display
gen.custom.expedient =  Customize Academic Record Display
